<?xml version="1.0"?>

<launch>
    <!-- Launch the turtlesim node -->
    <node pkg="turtlesim" type="turtlesim_node" name="turtlesim" output="screen" />

    <!-- Launch the publisher node -->
    <node pkg="beginner_tutorials" type="turtle_cmdvel_pub.py" name="cmd_vel_pub" output="screen"/>

    <!-- Launch the publisher node -->
    <node pkg="beginner_tutorials" type="turtle_pos_sub.py" name="pos_sub" output="screen"/>
</launch>